/** Space for all imported Fonts **/



/** Main Style goes here**/
nav{
  width: 100%;
  text-align: right;
  background: #262626;
  color: #fff;
  font-size: 1.2rem;
}
.menu-icon{
  padding: 0.8em;
}

[data-menu="main"]{
  display: none;
  text-align: left;
  width: 100%;
}
.documentation{
  height: 100%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 1em;
}

[data-menu="submenu"]{
  padding: 1em;
  display: inline-block;
  width: 100%;
}
[data-menu="submenu"] i{
    font-size: 0.8em;
    vertical-align: middle;
}

[data-menu="submenu"] span{
  vertical-align: middle;
}

nav ul li ul li{
  background-color:#2b2b2b;
}

nav ul li ul{
  display: none;
}

nav ul li{
  display: block;
}

[data-show]{
  padding: 1em;
}

[data-show]:hover{
  background: #383838 !important;

}

.doc{
  display: none;
}

.doc.active{
  display: block;
}

.doc h1{
  text-align: center;
}

.info, .success, .warning, .error {
    margin: 0.6em 0;

    padding: 1em;
}
.info {
    color: #00529B;
    border-left: 0.5em solid #00529B;
    background-color: #BDE5F8;
}
.success {
    color: #4F8A10;
    border-left: 0.5em solid #4F8A10;
    background-color: #DFF2BF;
}
.warning {
    color: #9F6000;
    border-left: 0.5em solid #9F6000;
    background-color: #FEEFB3;
}
.error {
    color: #D8000C;
    border-left: 0.5em solid #D8000C;
    background-color: #FFBABA;
}

/** Place here all Media Queries and it's styles.**/

/** Default Style. Don't change. (320px) **/
@media screen and  (max-width: 20em) {}

/** Extra Small Devices, Phones (480px) **/
@media screen and (min-width : 30em) {

}

/** Small Screens, Tablets (720px) **/
@media screen and (min-width: 45em) {
  body{
    overflow: hidden;
  }

  nav{
    width: 30%;
    max-width: 30%;
    height: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    float: left;
  }

  [data-menu="main"]{
      display: block;
  }

  .menu-icon{
    display: none;
  }

  td{
    border: 1px solid #424242;
    padding: 0.2em;
  }

}

/** Medium Devices, Desktops (992px)**/
@media screen and (min-width: 62em) {

  nav{
    width: 20%;
    max-width: 20%;
  }

}

/** HD Screen, Large Devices, Wide Screens (1200px) **/
@media screen and (min-width: 75em) {

}

/** Full HD Screen, Large Devices, Wide Screens (1920px) **/
@media screen and (min-width: 120em) {

}

/** Retina Screen , Large Devices, Wide Screens(2560px) **/
@media screen and (min-width: 160em) {

}

/** 4k Screens, Large Devices, Wide Screens (3840px) **/
@media screen and (min-width: 240em) {

}

/** 5k Screens, Large Devices, Wide Screens (5120px) **/
@media screen and (min-width: 320em) {

}

/** CSS for Printing **/
@media print {

}